{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "api.you2you.fr",
  "basePath": "/api",
  "info": {
    "description": "Bienvenue sur la documentation de l'API publique You2You.\n\nYou2You est le leader de la livraison collaborative en France.\n- Nous livrons toutes vos commandes express en 1h30 ou sur RDV dans des créneaux d’une heure.\n- Un particulier se trouvant à proximité profite de votre demande de livraison pour rentabiliser son trajet en échange d’une compensation financière.\n- Une livraison économique, pratique, sociale et écologique.\n\n# Fonctionnement\nNotre API est organisée suivant le style REST et elle :\n- utilise des verbes et des codes de retour standards du protocole HTTP.\n- renvoie exclusivement des réponses au format JSON ou texte.\n\nCette documentation est là pour vous permettre d’implémenter les mécanismes nécessaires et des exemples concrets sont présents. À ce jour, il n’existe pas de bibliothèque officielle.\n\n# Accès à l’API\nL’API est disponible sur deux environnements:\n\n- L'environnement de PRODUCTION : https://api.you2you.fr\n- L'environnement dédié aux tests : https://api-sandbox.you2you.fr\n\n# Comment tester des requêtes vers l'API?\nNous recommandons l'utilisation de [POSTMAN](https://www.getpostman.com/). C'est une application pour faciliter les tests d'intégration et récupérer le code dans d'autres langages non-fournis dans notre documentation actuelle (ex: JAVA, C#, Node.js, PHP, etc...).\n\n# Versionning\nL'API sera amenée à évoluer durant les prochains mois. Afin de ne pas perturber votre implémentation, nous veillerons impérativement à garder les points d'accès, la structure des requêtes et le format des réponses pour les versions antérieures.\n\nVersions disponibles:\n- [1.1](https://kangooz.github.io/apidoc/1.1)\n- [1.0](https://kangooz.github.io/apidoc/1.0)\n\n# Récupération des clefs d'API\nVos clés d'API sont générées à la création de votre compte sur https://livraison.you2you.fr. Si vous êtes déjà en possession d'un compte, commencez à l'étape 2. Voici le parcours complet:\n1. Créez votre compte You2You sur https://livraison.you2you.fr/signup.\n\n2. Connectez-vous avec vos identifiants sur https://livraison.you2you.fr.\n\n3. Naviguez sur votre dashboard jusqu'à la section API https://livraison.you2you.fr/settings.\"\n\n# Aide\nNos équipes sont à votre disposition pour vous répondre en cas de problèmes. Reportez vos anomalies sur l'espace github prévu à cet effet : https://github.com/kangooz/apidoc/issues.\n",
    "version": "1.1",
    "title": "API de Development You2You",
    "x-logo": {
      "url": "https://kangooz.github.io/apidoc/img/logo.png"
    }
  },
  "x-servers": [
    {
      "url": "//api-sandbox.you2you.fr/api/1.1",
      "description": "Serveur de test"
    },
    {
      "url": "//api.you2you.fr/api/1.1",
      "description": "Serveur de production"
    }
  ],
  "produces": [
    "application/json",
    "application/xml",
    "text/csv"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/auth/test": {
      "get": {
        "tags": [
          "Autorisation"
        ],
        "summary": "Tester les droits d'accès.",
        "description": "Envoi d'une requête afin de vérifier que les droits d'accès sont valides.",
        "operationId": "getUserByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "La paire de clés à tester",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Authorisation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorisationSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries/eligibility": {
      "post": {
        "tags": [
          "Livraison"
        ],
        "summary": "Tester l'éligibilité d'une nouvelle livraison",
        "description": "Test d'une livraison afin de savoir si elle peut être captée par le service de You2You. Le résultat est basé sur les informations du colis, l'adresse de retrait et l'adresse de livraison.\n",
        "operationId": "testDelivery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Les informations sur la livraison",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryTest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeliveryTestSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/DeliveryPriceValidation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries/pricing": {
      "post": {
        "tags": [
          "Livraison"
        ],
        "summary": "Calculer le prix d'une nouvelle livraison",
        "description": "Calcul le prix d'une livraison en fonction des informations du colis et du parcours à effectuer pour livrer le colis.\n",
        "operationId": "computeDeliveryPrice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Les informations sur la livraison",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryTest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeliveryPriceSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/DeliveryPriceValidation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries": {
      "post": {
        "tags": [
          "Livraison"
        ],
        "summary": "Création d'une nouvelle livraison",
        "description": "Création d'une nouvelle livraison disponible sur le service You2You. Elle sera instantanément disponible sur notre application mobile \"You2You\" afin qu'un membre de la communauté Youzer-livreur You2You puisse la réserver et effectuer la livraison.\n\nLes champs \"dimension\" et \"weight\" sont optionnels si le champs \"vehicules\" est renseigné. Et inversement, le champs \"vehicules\" est optionnel si les champs \"dimension\" et \"weight\" sont renseignés.\n\nRègle de correspondance poids et dimension en fonction des moyens de transport.\n| Véhicule  |  Valeur  |  Poids max.  |  Dimension max. (en cm) |\n|:-:|:-:|---|---|\n| Piéton  | walk  | 2 Kg  | 20x20x30  |\n| Vélo  | bike  | 5 Kg  | 20x20x30  |\n| Moto/Scooter  | moto  | 8 Kg  | 20x20x30  |\n| Voiture  | car  |  20 Kg | 100x70x50  |\n",
        "operationId": "createDelivery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Les informations sur la livraison",
            "schema": {
              "$ref": "#/definitions/Delivery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeliveryCreationSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/DeliveryCreationValidation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Livraison"
        ],
        "summary": "Récupérer toutes les livraisons.",
        "description": "Récupère toutes les livraisons créées par votre profil.",
        "operationId": "getAllDelivery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeliveryShortedDetails"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries/{id}": {
      "get": {
        "tags": [
          "Livraison"
        ],
        "summary": "Récupérer une livraison.",
        "description": "Récupère toutes les informations d'une livraison.\n\nPour rappel, le tableau de correspondance valeurs <=> statut d'une livraison:\n\n| Statut  | Valeur  |\n|:-:|:-:|\n| En attente  | 0 |\n| En cours d'attribution  | 1 |\n| En route  | 2  |\n| Proche du point de retrait  | 3  |\n| Retrait effectué  | 4  |\n| Proche lieu de livraison  | 5  |\n| Livrée  | 6  |\n| Annulée 0%  | 7  |\n| Annulée 50%  | 10  |\n| Retour 200%  | 12  |\n| Livrée 200%  | 13  |\n",
        "operationId": "getDelivery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la livraison",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeliveryDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries/{id}/status": {
      "get": {
        "tags": [
          "Livraison"
        ],
        "summary": "Récupérer le statut d'une livraison.",
        "description": "Récupère le statut actuel d'une livraison.\n\nPour rappel, le tableau de correspondance valeurs <=> statut d'une livraison:\n\n| Statut  | Valeur  |\n|:-:|:-:|\n| En attente  | 0 |\n| En cours d'attribution  | 1 |\n| En route  | 2  |\n| Proche du point de retrait  | 3  |\n| Retrait effectué  | 4  |\n| Proche lieu de livraison  | 5  |\n| Livrée  | 6  |\n| Annulée 0%  | 7  |\n| Annulée 50%  | 10  |\n| Retour 200%  | 12  |\n| Livrée 200%  | 13  |\n",
        "operationId": "getDeliveryStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la livraison",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatusSuccess"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/deliveries/{id}/cancel": {
      "patch": {
        "tags": [
          "Livraison"
        ],
        "summary": "Annuler une livraison.",
        "description": "Vous pouvez annuler gratuitement à tout moment une demande de livraison dans les cas suivants :\n- si la livraison n'a pas été réservée par un Youzer (livreur) (status.value = 1)\n- 1H30 avant le début du créneau de livraison (shipstart - 1h30)\n- après le début du créneau de livraison si le Youzer (livreur) n'a pas retiré le colis. (Now() > shipstart)\n\nDans le cas où un Youzer (livreur) a réservé la livraison et que l'annulation intervient entre 1h30 avant le début du créneau de livraison et le début du créneau de livraison, 50% du prix de la livraison restera à votre charge. (status.value = 2 && shipstart - 1h30 < NOW() < shipstart)\n\nUne livraison ne peut pas être annulée à partir du moment où un livreur à récupéré le colis.\nDans ce cas, status.value >= 3.\n\n![](https://kangooz.github.io/apidoc/img/cancel_scheme.png)\n\nPour toutes demandes ou incidents sur une livraison, nos équipes sont là pour vous aider et répondre à vos questions. Contactez nous [ICI](https://github.com/kangooz/apidoc/issues)\n",
        "operationId": "cancelDelivery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la livraison",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            },
            "examples": {
              "application/json": "Invalid credentials.",
              "text/plain": "\"Invalid credentials.\""
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/DeliveryShipped"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "InternalServerError": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Le type d'erreur",
          "type": "string",
          "example": "Internal server error"
        },
        "errors": {
          "description": "La description de l'erreur",
          "type": "object"
        }
      }
    },
    "Authorisation": {
      "type": "object",
      "required": [
        "apiKey",
        "apiSecret"
      ],
      "properties": {
        "apiKey": {
          "description": "La clé API publique",
          "type": "string",
          "example": "Wz6H5h0yD4POmoNY"
        },
        "apiSecret": {
          "description": "La clé API secrete",
          "type": "string",
          "example": "Wz6H5h0yD4POmoNY"
        }
      }
    },
    "AuthorisationSuccess": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Le message de succès",
          "type": "string",
          "example": "Success. You credentials are valid."
        }
      }
    },
    "Delivery": {
      "type": "object",
      "required": [
        "description",
        "shipStart",
        "shipEnd",
        "Contact",
        "Customer"
      ],
      "properties": {
        "description": {
          "description": "Les informations additionnelles sur la livraison",
          "type": "string",
          "example": "Bouquet de fleurs à livrer à un de mes clients VIP"
        },
        "shipStart": {
          "description": "Une date et heure qui corresponds au début du créneau de livraison souhaité.\n\nFormatage attendu: yyyy/mm/dd hh:mm[:ss]\n\nyyyy = l'année,\nmm = le mois,\ndd = le jour du mois,\nhh = l'heure,\nmm = la minute,\nss = la seconde\n",
          "type": "string",
          "example": "2016-05-30 18:28:00"
        },
        "shipEnd": {
          "description": "Une date et heure qui corresponds à la fin du créneau de livraison souhaité. Généralement 1 heure après le début du créneau de livraison.\n\nFormatage attendu: yyyy/mm/dd hh:mm[:ss]\n\nyyyy = l'année,\nmm = le mois,\ndd = le jour du mois,\nhh = l'heure,\nmm = la minute,\nss = la seconde\n",
          "type": "string",
          "example": "2016-05-30 20:28:00"
        },
        "vehicules": {
          "description": "Le(s) véhicule(s) nécessaire(s) pour réaliser cette livraison",
          "enum": [
            "walk",
            "bike",
            "moto",
            "car"
          ],
          "type": "string",
          "example": "bike,moto,car"
        },
        "dimension": {
          "description": "Les dimensions du colis à livrer",
          "allOf": [
            {
              "$ref": "#/definitions/Dimension"
            }
          ]
        },
        "weight": {
          "description": "Le poids (kilos) du colis à livrer",
          "type": "number",
          "example": 0.42
        },
        "Contact": {
          "description": "Les informations de la personne joignable sur le point de retrait",
          "allOf": [
            {
              "$ref": "#/definitions/Contact"
            }
          ]
        },
        "Customer": {
          "description": "Les informations du client à livrer / point de livraison",
          "allOf": [
            {
              "$ref": "#/definitions/Customer"
            }
          ]
        }
      }
    },
    "DeliveryDetails": {
      "type": "object",
      "properties": {
        "id": {
          "description": "L'ID de la livraison",
          "type": "integer",
          "example": 3327
        },
        "hash": {
          "description": "Le hash de la livraison",
          "type": "string",
          "example": "DDQ3DCdP"
        },
        "parcelnumber": {
          "description": "L'ID du colis",
          "type": "integer",
          "example": 5678
        },
        "status": {
          "description": "Le statut de la livraison",
          "type": "object",
          "properties": {
            "text": {
              "type": "string",
              "description": "La valeur textuelle",
              "example": "Prête"
            },
            "value": {
              "type": "integer",
              "description": "La valeur numérique",
              "example": 1
            }
          }
        },
        "origin": {
          "description": "L'origine de la demande de livraison",
          "type": "integer",
          "example": 3
        },
        "description": {
          "description": "La description de la livraison",
          "type": "string",
          "example": "Un bouquet de fleurs pour une client VIP"
        },
        "shipstart": {
          "description": "La date et l'heure de début du créneau de livraison souhaité",
          "type": "string",
          "example": "2016-07-29T18:51:20.000Z"
        },
        "shipend": {
          "description": "La date et l'heure de fin du créneau de livraison souhaité",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timeclosedeposit": {
          "description": "La date et l'heure d'approche du livreur vers le point de livraison",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timedeposit": {
          "description": "La date et l'heure de dépôt de la livraison",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timeclosepickup": {
          "description": "La date et l'heure d'approche du livreur vers le point de retrait",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timepickup": {
          "description": "La date et l'heure de retrait du colis",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timeready": {
          "description": "La date et l'heure de la disponibilité de la livraison par le service You2you",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "timeattach": {
          "description": "La date et l'heure de la réservation de la livraison par un livreur",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "pickupcode": {
          "description": "Le code nécessaire pour la récupération du colis",
          "type": "string",
          "example": "7232B"
        },
        "deliverycode": {
          "description": "Le code nécessaire pour le dépôt du colis",
          "type": "string",
          "example": "5632A"
        },
        "distance": {
          "description": "La distance calculée à parcourir pour effectuer la livraison",
          "type": "number",
          "example": 5.6
        },
        "price": {
          "description": "Le prix de la livraison",
          "type": "number",
          "example": 11.2
        },
        "priceYouzee": {
          "description": "La part du livré dans le prix",
          "type": "number",
          "example": 0
        },
        "pricePartner": {
          "description": "La part de l'enseigne dans le prix",
          "type": "number",
          "example": 11.2
        },
        "vehicules": {
          "description": "Le(s) moyen(s) de transport requis pour effectuer la livraison",
          "type": "string",
          "example": "bike,moto,car,van"
        },
        "weight": {
          "description": "Le poids du colis",
          "type": "number",
          "example": 2.4
        },
        "haveBeenShift": {
          "description": "Indique si la livraison a été décalée",
          "type": "boolean",
          "example": true
        },
        "paymentMode": {
          "description": "Le mode de paiement",
          "type": "integer",
          "example": 0
        },
        "driver": {
          "description": "Les informations sur le livreur",
          "type": "object",
          "properties": {
            "default_source": {
              "type": "string",
              "description": "L'identifiant du moyen de paiement",
              "example": "card_DDQ3DCdP"
            },
            "livemode": {
              "type": "integer",
              "description": "Le livemode",
              "example": 0
            },
            "ongoing": {
              "type": "integer",
              "description": "Indique si le livreur est en route",
              "example": 0
            },
            "email": {
              "type": "string",
              "description": "L'email",
              "example": "foo.bar@compagny.fr"
            },
            "mobile": {
              "type": "string",
              "description": "Le numéro de portable",
              "example": 33642642112
            },
            "Person": {
              "description": "Les informations complémentaires",
              "type": "object",
              "properties": {
                "title": {
                  "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
                  "type": "string",
                  "example": "Mr"
                },
                "lastname": {
                  "description": "Le nom",
                  "type": "string",
                  "example": "Bar"
                },
                "firstname": {
                  "description": "Le prénom",
                  "type": "string",
                  "example": "Foo"
                },
                "birthday": {
                  "description": "Le jour de naissance",
                  "type": "number",
                  "example": 4
                },
                "birthmonth": {
                  "description": "Le mois de naissance",
                  "type": "number",
                  "example": 2
                },
                "birthyear": {
                  "description": "L'année de naissance",
                  "type": "number",
                  "example": 1988
                },
                "vehicules": {
                  "description": "Le(s) moyen(s) de transport disponible(s)",
                  "type": "string",
                  "example": "walk,bike,moto,car"
                },
                "mobile": {
                  "description": "Le numéro de téléphone",
                  "type": "string",
                  "example": "+33642642112"
                },
                "email": {
                  "description": "L'email",
                  "type": "string",
                  "example": "foo.bar@company.com"
                }
              }
            }
          }
        },
        "personAddress": {
          "description": "Les informations sur l'adresse de livraison",
          "type": "object",
          "properties": {
            "name": {
              "description": "L'adresse complète",
              "type": "string",
              "example": "123 Boulevard Haussmann"
            },
            "type": {
              "description": "Le type d'adresse",
              "type": "string",
              "example": "person"
            },
            "streetnumber": {
              "description": "Le numéro de rue",
              "type": "string",
              "example": "123"
            },
            "street": {
              "description": "Le nom de rue",
              "type": "string",
              "example": "Boulevard Haussmann"
            },
            "postalcode": {
              "description": "Le code postal",
              "type": "string",
              "example": "75008"
            },
            "city": {
              "description": "La ville",
              "type": "string",
              "example": "Paris"
            },
            "country": {
              "description": "Le pays",
              "type": "string",
              "example": "France"
            },
            "information": {
              "description": "Le complément d'adresse",
              "type": "string",
              "example": ""
            },
            "infoSecret": {
              "description": "Les informations confidentielles nécessaires pour effectuer une livraison",
              "type": "string",
              "example": "code de portail: 5675A"
            },
            "latitude": {
              "description": "La coordonnée de latitude",
              "type": "number",
              "example": 48.875088
            },
            "longitude": {
              "description": "La coordonnée de longitude",
              "type": "number",
              "example": 2.318032
            }
          }
        },
        "storeAddress": {
          "description": "Les informations sur l'adresse de retrait",
          "type": "object",
          "properties": {
            "name": {
              "description": "L'adresse complète",
              "type": "string",
              "example": "32 Rue de Dunkerque"
            },
            "type": {
              "description": "Le type d'adresse",
              "type": "string",
              "example": "person"
            },
            "streetnumber": {
              "description": "Le numéro de rue",
              "type": "string",
              "example": "32"
            },
            "street": {
              "description": "Le nom de rue",
              "type": "string",
              "example": "Rue de Dunkerque"
            },
            "postalcode": {
              "description": "Le code postal",
              "type": "string",
              "example": "75010"
            },
            "city": {
              "description": "La ville",
              "type": "string",
              "example": "Paris"
            },
            "country": {
              "description": "Le pays",
              "type": "string",
              "example": "France"
            },
            "information": {
              "description": "Le complément d'adresse",
              "type": "string",
              "example": ""
            },
            "infoSecret": {
              "description": "Les informations confidentielles nécessaires pour effectuer le retrait",
              "type": "string",
              "example": "code d'entrée: 1206"
            },
            "latitude": {
              "description": "La coordonnée de latitude",
              "type": "number",
              "example": 48.880917
            },
            "longitude": {
              "description": "La coordonnée de longitude",
              "type": "number",
              "example": 2.350971
            }
          }
        },
        "owner": {
          "description": "Les informations sur le livreur",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "birthday": {
              "description": "Le jour de naissance",
              "type": "number",
              "example": 4
            },
            "birthmonth": {
              "description": "Le mois de naissance",
              "type": "number",
              "example": 2
            },
            "birthyear": {
              "description": "L'année de naissance",
              "type": "number",
              "example": 1988
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": "walk,bike,moto,car"
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        },
        "receiver": {
          "description": "Les informations du contact sur le lieu de réception",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "birthday": {
              "description": "Le jour de naissance",
              "type": "number",
              "example": 4
            },
            "birthmonth": {
              "description": "Le mois de naissance",
              "type": "number",
              "example": 2
            },
            "birthyear": {
              "description": "L'année de naissance",
              "type": "number",
              "example": 1988
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": ""
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        },
        "contact": {
          "description": "Les informations du contact sur le lieu de retrait",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "birthday": {
              "description": "Le jour de naissance",
              "type": "number",
              "example": 4
            },
            "birthmonth": {
              "description": "Le mois de naissance",
              "type": "number",
              "example": 2
            },
            "birthyear": {
              "description": "L'année de naissance",
              "type": "number",
              "example": 1988
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": ""
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        },
        "dimension": {
          "description": "Les dimensions du colis",
          "type": "string",
          "example": "L30 x l15 x H10 cm"
        }
      }
    },
    "DeliveryShortedDetails": {
      "type": "object",
      "properties": {
        "id": {
          "description": "L'ID de la livraison",
          "type": "integer",
          "example": 3327
        },
        "refNumber": {
          "description": "La référence du colis",
          "type": "integer",
          "example": 4289
        },
        "parcelnumber": {
          "description": "L'ID du colis",
          "type": "integer",
          "example": 5678
        },
        "status": {
          "description": "Le statut de la livraison",
          "type": "integer",
          "example": 1
        },
        "description": {
          "description": "La description de la livraison",
          "type": "string",
          "example": "Un bouquet de fleurs pour une client VIP"
        },
        "shipstart": {
          "description": "La date et l'heure de début du créneau de livraison souhaité",
          "type": "string",
          "example": "2016-07-29T18:51:20.000Z"
        },
        "shipend": {
          "description": "La date et l'heure de fin du créneau de livraison souhaité",
          "type": "string",
          "example": "2016-07-29T20:00:00.000Z"
        },
        "pickupcode": {
          "description": "Le code nécessaire pour la récupération du colis",
          "type": "string",
          "example": "7232B"
        },
        "deliverycode": {
          "description": "Le code nécessaire pour la livraison du colis",
          "type": "string",
          "example": "5632A"
        },
        "distance": {
          "description": "La distance calculée à parcourir pour effectuer la livraison",
          "type": "number",
          "example": 5.6
        },
        "price": {
          "description": "Le prix de la livraison",
          "type": "number",
          "example": 11.2
        },
        "vehicules": {
          "description": "Le(s) moyen(s) de transport nécessaire(s) pour effectuer la livraison",
          "type": "string",
          "example": "bike,moto,car,van"
        },
        "hash": {
          "description": "Le hash de la livraison",
          "type": "string",
          "example": "DDQ3DCdP"
        },
        "origin": {
          "description": "L'origine de la demande de livraison",
          "type": "integer",
          "example": 3
        },
        "PartnerId": {
          "description": "L'ID de l'enseigne",
          "type": "integer",
          "example": 236
        },
        "driver": {
          "description": "Les informations sur le livreur",
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "description": "L'email",
              "example": "foo.bar@compagny.fr"
            },
            "mobile": {
              "type": "string",
              "description": "Le numéro de portable",
              "example": 33642642112
            },
            "Person": {
              "description": "Les informations complémentaires",
              "type": "object",
              "properties": {
                "title": {
                  "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
                  "type": "string",
                  "example": "Mr"
                },
                "lastname": {
                  "description": "Le nom",
                  "type": "string",
                  "example": "Bar"
                },
                "firstname": {
                  "description": "Le prénom",
                  "type": "string",
                  "example": "Foo"
                },
                "vehicules": {
                  "description": "Le(s) moyen(s) de transport disponible",
                  "type": "string",
                  "example": "walk,bike,moto,car"
                },
                "mobile": {
                  "description": "Le numéro de téléphone",
                  "type": "string",
                  "example": "+33642642112"
                },
                "email": {
                  "description": "L'email",
                  "type": "string",
                  "example": "foo.bar@company.com"
                }
              }
            }
          }
        },
        "personAddress": {
          "description": "Les informations sur l'adresse de livraison",
          "type": "object",
          "properties": {
            "name": {
              "description": "L'adresse complète",
              "type": "string",
              "example": "123 Boulevard Haussmann"
            },
            "streetnumber": {
              "description": "Le numéro de rue",
              "type": "string",
              "example": "123"
            },
            "street": {
              "description": "Le nom de rue",
              "type": "string",
              "example": "Boulevard Haussmann"
            },
            "postalcode": {
              "description": "Le code postal",
              "type": "string",
              "example": "75008"
            },
            "city": {
              "description": "La ville",
              "type": "string",
              "example": "Paris"
            },
            "country": {
              "description": "Le pays",
              "type": "string",
              "example": "France"
            },
            "information": {
              "description": "Le complément d'adresse",
              "type": "string",
              "example": ""
            },
            "infoSecret": {
              "description": "Les informations confidentielles nécessaire pour effectuer une livraison",
              "type": "string",
              "example": "code de portail: 5675A"
            },
            "latitude": {
              "description": "La coordonnée de latitude",
              "type": "number",
              "example": 48.875088
            },
            "longitude": {
              "description": "La coordonnée de longitude",
              "type": "number",
              "example": 2.318032
            }
          }
        },
        "storeAddress": {
          "description": "Les informations sur l'adresse de retrait",
          "type": "object",
          "properties": {
            "name": {
              "description": "L'adresse complète",
              "type": "string",
              "example": "32 Rue de Dunkerque"
            },
            "streetnumber": {
              "description": "Le numéro de rue",
              "type": "string",
              "example": "32"
            },
            "street": {
              "description": "Le nom de rue",
              "type": "string",
              "example": "Rue de Dunkerque"
            },
            "postalcode": {
              "description": "Le code postal",
              "type": "string",
              "example": "75010"
            },
            "city": {
              "description": "La ville",
              "type": "string",
              "example": "Paris"
            },
            "country": {
              "description": "Le pays",
              "type": "string",
              "example": "France"
            },
            "information": {
              "description": "Le complément d'adresse",
              "type": "string",
              "example": ""
            },
            "infoSecret": {
              "description": "Les informations confidentielles nécessaires pour effectuer le retrait",
              "type": "string",
              "example": "code d'entrée: 1206"
            },
            "latitude": {
              "description": "La coordonnée de latitude",
              "type": "number",
              "example": 48.880917
            },
            "longitude": {
              "description": "La coordonnée de longitude",
              "type": "number",
              "example": 2.350971
            }
          }
        },
        "owner": {
          "description": "Les informations sur le livreur",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": "walk,bike,moto,car"
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        },
        "receiver": {
          "description": "Les informations du contact sur le lieu de réception",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": ""
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        },
        "contact": {
          "description": "Les informations du contact sur le lieu de retrait",
          "type": "object",
          "properties": {
            "title": {
              "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
              "type": "string",
              "example": "Mr"
            },
            "lastname": {
              "description": "Le nom",
              "type": "string",
              "example": "Bar"
            },
            "firstname": {
              "description": "Le prénom",
              "type": "string",
              "example": "Foo"
            },
            "vehicules": {
              "description": "Le(s) moyen(s) de transport disponible(s)",
              "type": "string",
              "example": ""
            },
            "mobile": {
              "description": "Le numéro de téléphone",
              "type": "string",
              "example": "+33642642112"
            },
            "email": {
              "description": "L'email",
              "type": "string",
              "example": "foo.bar@company.com"
            }
          }
        }
      }
    },
    "DeliveryCreationSuccess": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Le message de succès",
          "type": "string",
          "example": "Delivery created."
        },
        "DeliveryId": {
          "description": "L'ID de la livraison créée",
          "type": "integer",
          "example": 42
        }
      }
    },
    "DeliveryTest": {
      "type": "object",
      "required": [
        "Pickup",
        "Destination",
        "dimension",
        "weight"
      ],
      "properties": {
        "Pickup": {
          "description": "L'adresse de retrait du colis",
          "allOf": [
            {
              "$ref": "#/definitions/Pickup"
            }
          ]
        },
        "Destination": {
          "description": "L'adresse de livraison du colis",
          "allOf": [
            {
              "$ref": "#/definitions/Destination"
            }
          ]
        },
        "dimension": {
          "description": "Les dimensions du colis à livrer",
          "allOf": [
            {
              "$ref": "#/definitions/Dimension"
            }
          ]
        },
        "weight": {
          "description": "Le poids (kilos) du colis à livrer",
          "type": "number",
          "example": 0.42
        }
      }
    },
    "DeliveryTestSuccess": {
      "type": "object",
      "properties": {
        "valid": {
          "description": "Indique si la livraison est éligible ou non",
          "type": "boolean",
          "example": true
        },
        "postalCodePickup": {
          "description": "Indique si l'adresse de retrait du colis est dans un périmètre valide ou non",
          "type": "boolean",
          "example": true
        },
        "postalCodeDeposit": {
          "description": "Indique si l'adresse de dépôt du colis est dans un périmètre valide ou non",
          "type": "boolean",
          "example": true
        },
        "distance": {
          "description": "Champs vide",
          "type": "string",
          "example": ""
        },
        "size": {
          "description": "Indique si les dimensions du colis sont acceptables ou non",
          "type": "boolean",
          "example": true
        },
        "weight": {
          "description": "Indique si le poids du colis est acceptable ou non",
          "type": "boolean",
          "example": true
        },
        "valiDdistance": {
          "description": "Indique si la distance de parcours est acceptable ou non",
          "type": "boolean",
          "example": true
        }
      }
    },
    "DeliveryPriceSuccess": {
      "type": "object",
      "properties": {
        "distance": {
          "description": "La distance du parcours pour effectuer la livraison",
          "type": "number",
          "example": 1.2
        },
        "price": {
          "description": "Le prix en euros",
          "type": "string",
          "example": "4.5"
        },
        "coef": {
          "description": "Les coefficients de repartition en %",
          "type": "object",
          "properties": {
            "y2y": {
              "description": "La part dédiée à You2You",
              "type": "number",
              "example": 11
            },
            "distance": {
              "description": "La part dédiée au livreur",
              "type": "number",
              "example": 89
            }
          }
        }
      }
    },
    "DeliveryPriceValidation": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Le type d'erreur",
          "type": "string",
          "example": "Invalid parameters"
        },
        "message": {
          "description": "La description de l'erreur",
          "type": "string",
          "example": "Some fields are invalid."
        },
        "errorDetails": {
          "description": "La liste des erreurs",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "field": {
                "description": "Le champs lié à cette erreur",
                "type": "string",
                "example": "Destination"
              },
              "message": {
                "description": "Le message d'erreur",
                "type": "string",
                "example": "'Destination' is required"
              },
              "type": {
                "description": "Le type d'erreur",
                "type": "string",
                "example": "any.required"
              }
            }
          }
        }
      }
    },
    "DeliveryCreationValidation": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Le type d'erreur",
          "type": "string",
          "example": "Invalid parameters"
        },
        "message": {
          "description": "La description de l'erreur",
          "type": "string",
          "example": "Some fields are invalid."
        },
        "errorDetails": {
          "description": "La liste des erreurs",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "field": {
                "description": "Le champs lié à cette erreur",
                "type": "string",
                "example": "shipStart"
              },
              "message": {
                "description": "Le message d'erreur",
                "type": "string",
                "example": "'shipStart' is required"
              },
              "type": {
                "description": "Le type d'erreur",
                "type": "string",
                "example": "any.required"
              }
            }
          }
        }
      }
    },
    "StatusSuccess": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Le statut de la livraison",
          "type": "object",
          "properties": {
            "status": {
              "description": "La valeur numérique",
              "type": "integer",
              "example": 7
            }
          }
        },
        "text": {
          "description": "La valeur textuelle",
          "type": "string",
          "example": "Annulée"
        },
        "status": {
          "description": "Champs objet vide",
          "type": "object"
        }
      }
    },
    "DeliveryShipped": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Le message d'erreur",
          "type": "string",
          "example": "Ce colis est deja en cours de livraison par un livreur You2You."
        }
      }
    },
    "Pickup": {
      "type": "object",
      "required": [
        "postalcode",
        "lat",
        "long"
      ],
      "properties": {
        "postalcode": {
          "description": "Le code postal",
          "type": "string",
          "example": "75002"
        },
        "lat": {
          "description": "La coordonnée de latitude",
          "type": "number",
          "example": 48.868331
        },
        "long": {
          "description": "La coordonnée de longitude",
          "type": "number",
          "example": 2.334712
        }
      }
    },
    "Destination": {
      "type": "object",
      "required": [
        "postalcode",
        "lat",
        "long"
      ],
      "properties": {
        "postalcode": {
          "description": "Le code postal",
          "type": "string",
          "example": "75009"
        },
        "lat": {
          "description": "La coordonnée de latitude",
          "type": "number",
          "example": 48.8748577
        },
        "long": {
          "description": "La coordonnée de longitude",
          "type": "number",
          "example": 2.3408563
        }
      }
    },
    "Dimension": {
      "type": "object",
      "required": [
        "length",
        "width",
        "height"
      ],
      "properties": {
        "length": {
          "description": "La longueur en centimètre",
          "type": "number",
          "example": 10
        },
        "width": {
          "description": "La largeur en centimètre",
          "type": "number",
          "example": 10
        },
        "height": {
          "description": "La hauteur en centimètre",
          "type": "number",
          "example": 20
        }
      }
    },
    "Contact": {
      "type": "object",
      "required": [
        "firstname",
        "lastname",
        "email",
        "mobile",
        "Address"
      ],
      "properties": {
        "firstname": {
          "description": "Le prénom",
          "type": "string",
          "example": "Foo"
        },
        "lastname": {
          "description": "Le nom",
          "type": "string",
          "example": "Bar"
        },
        "email": {
          "description": "Le email",
          "type": "string",
          "example": "foo.bar@company.com"
        },
        "mobile": {
          "description": "Le numéro de téléphone",
          "type": "string",
          "example": 33642642112
        },
        "title": {
          "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
          "type": "string",
          "example": "Mr"
        },
        "birthday": {
          "description": "Le jour de naissance",
          "type": "number",
          "example": 4
        },
        "birthmonth": {
          "description": "Le mois de naissance",
          "type": "number",
          "example": 2
        },
        "birthyear": {
          "description": "L'année de naissance",
          "type": "number",
          "example": 1988
        },
        "Address": {
          "description": "L'adresse du contact",
          "allOf": [
            {
              "$ref": "#/definitions/Address"
            }
          ]
        }
      }
    },
    "Customer": {
      "type": "object",
      "required": [
        "firstname",
        "lastname",
        "email",
        "mobile",
        "Address"
      ],
      "properties": {
        "firstname": {
          "description": "Le prénom",
          "type": "string",
          "example": "Foo"
        },
        "lastname": {
          "description": "Le nom",
          "type": "string",
          "example": "Bar"
        },
        "email": {
          "description": "Le email",
          "type": "string",
          "example": "foo.bar@company.com"
        },
        "mobile": {
          "description": "Le numéro de téléphone",
          "type": "string",
          "example": 33642642112
        },
        "title": {
          "description": "Le titre de la personne. Ex: Mr, Mme, etc.",
          "type": "string",
          "example": "Mr"
        },
        "birthday": {
          "description": "Le jour de naissance",
          "type": "number",
          "example": 4
        },
        "birthmonth": {
          "description": "Le mois de naissance",
          "type": "number",
          "example": 2
        },
        "birthyear": {
          "description": "L'année de naissance",
          "type": "number",
          "example": 1988
        },
        "Address": {
          "description": "L'adresse du contact",
          "allOf": [
            {
              "$ref": "#/definitions/Address"
            }
          ]
        }
      }
    },
    "Address": {
      "type": "object",
      "required": [
        "city",
        "country",
        "postalcode",
        "street",
        "streetnumber"
      ],
      "properties": {
        "name": {
          "description": "Intitulé de l'adresse",
          "type": "string",
          "example": ""
        },
        "city": {
          "description": "La ville",
          "type": "string",
          "example": "Paris"
        },
        "country": {
          "description": "Le pays",
          "type": "string",
          "example": "France"
        },
        "postalcode": {
          "description": "Le code postal",
          "type": "string",
          "example": "94270"
        },
        "street": {
          "description": "Le nom de rue",
          "type": "string",
          "example": "Rue pasteur"
        },
        "streetnumber": {
          "description": "le numéro de rue",
          "type": "number",
          "example": 24
        },
        "information": {
          "description": "Le complément d'adresse",
          "type": "string",
          "example": ""
        }
      }
    }
  }
}
